footer
  .container.text-center
    p.float-left © 2018 Company, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/hoaitn120282/qsoft-starter') GitHub Project
      li.list-inline-item
        a(href='https://github.com/hoaitn120282/qsoft-starter/issues') Issues
